<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="login" method="post">
        {% csrf_token %}
        <label> User Name : <input type="text" name="username" placeholder="Username"></label><br>
        <label> Password : <input type="password" name="password" placeholder="Password"></label><br>
        <input type="Submit">
    </form>
    <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>

</body>
</html>